<h1>This line was added on master branch</h1>

<h1>This line was added in br1</h1>

<h1>This line was also added in br1</h1>

<h1>This line was added in br2</h1>

<h1>This line was also added in br2</h1>

<h1>This line was added in br3</h1>

<h1>This line was also added in br3</h1>

<h1>This line was added in br4</h1>

<h1>This line was also added in br4</h1>

<div>{{ 'appTitle' | translate }}</div>
<div>
  <button (click)="switchLang()">Click me!</button>
</div>
<div>{{ sampleTextString }}</div>
